* {
  margin: 0;
  padding: 0;
  color: #ddd;
}

html {
  background-color: #282A36;
  font-family: "sans-serif";
  font-size: 1em;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#splash {
  margin: auto 0;
  height: 100vh;
  overflow: hidden;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  /*position: absolute;*/
  justify-content: center;
  align-items: center;
  background-color: #9a4e00;
  margin: 2em 0 2em 0;
  height: 3em;
}

nav li {
  list-style-type: none;
  margin: 0 1em;
}

#swordcontainer {
  display: flex;
  flex-direction: row;
}

#splash h2 {
  margin: 1em;
}

a {
  color: #8ada00;
  text-decoration: none;
}

.pixel {
  padding: 0.5em;
}

.pixelart {
  display: flex;
  flex-direction: column;
}

.pixelrow {
  display: flex;
  flex-direction: row;
}

.orange {
  background-color: #eb9f23;
}

.red {
  background-color: #b53220;
}

.white {
  background-color: #fefefe;
}

.black {
  background-color: #000000;
}

.green {
  background-color: #89d900;
}

.brown {
  background-color: #994f00;
}

article {
  margin: 2em;
}

footer {
  margin: 2em;
  font-size: 0.75em;
}

main {
  width: 45%;
}

li {
  list-style-type: square;
  margin: 0.5em 2em;
}

article h1, article h2 , article h3{
  margin: 0.75em 0.25em 0.25em 0.25em;
}

article p {
  margin: 0.75em;
}

article time {
  margin: 0.75em 1.5em 2em 1.5em;
}

article header {
  margin-bottom: 2em;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.17em;
}

article img {
  max-width: 100%;
}

code {
  margin: 0em 0.5em 0em 0.5em;
  background: #222;
}

section {
  margin: 1em;
}

section h1, section h2, section h3 {
  margin-bottom: 0.5em;
}

/*
 * Media Queries
 */

@media (max-width: 50em) {
  main {
    width: unset;
  }
}
