* a {
    text-decoration: none;
}

body {
    color: #363f47;
    background-color: #e9debb;

    font-family: "Comic Mono";
    font-size: calc(0.75rem + 0.2vw);

    line-height: 2.23rem;
}

.wrapper {
    display: grid;
    gap: 1.3rem;
    margin: 1.2rem;
    grid-template-areas:
        "header"
        "sidebar"
        "content"
        "footer";
}

@media (min-width: 300px) {
    .wrapper {
        padding-left: 0.03vw;
        padding-right: 0.03vw;

        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "header"
            "sidebar"
            "content"
            "footer";
    }
}

@media (min-width: 800px) {
    .wrapper {
        padding-left: 3vw;
        padding-right: 3vw;

        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "header"
            "sidebar"
            "content"
            "footer";
    }
}

@media (min-width: 1450px) {
    .wrapper {
        padding-left: 7vw;
        padding-right: 7vw;

        grid-template-columns: 3fr;
        grid-template-areas:
            "header header header"
            "sidebar content content"
            "footer footer footer";
    }
}

.header a {
    color: #000;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
    font-size: 0.75em;

    background: rgba(0, 0, 0, 0.6);
    border: 6.45px solid #000;
    border-radius: 0.8rem;

    padding: 25px;
    margin-bottom: 0;
}

header h2,
header a,
header p {
    margin: 0;
    color: #000;

    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
}

header p {
    text-align: center;
}

code {
    border-radius: 1em;

    white-space: pre;
}

.grid {
    display: grid;
    gap: 1.3rem;
}

.background-card {
    grid-area: content;

    background: rgba(0, 0, 0, 0.45);
    border-radius: 0.8rem;
    border: 6.45px solid #555;

    padding: 25px;
}

.profile-card {
    grid-area: sidebar;

    background: rgba(10, 8, 0, 0.4);
    border-radius: 0.8rem;
    border: 6.45px solid #555;

    padding: 25px;

    min-width: 17vw;

    font-weight: bold;
    color: #f0f0f0;
}

.about p {
    margin: 0;
}

.about {
    color: #f0f0f0;
    min-height: fit-content;
}

.postContainer {
    grid-area: content;

    display: grid;
    gap: calc(0.75rem + 0.2vw);
    grid-template-columns: repeat(3, 1fr);

    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.blog {
    font-size: calc(0.75rem + 0.01vw);
    line-height: 2rem;

    color: #f0f0f0;
}

.post {
    background: rgba(0, 0, 0, 0.45);
    border-radius: 0.8rem;
    border: 6.45px solid #555;

    padding: 0.63rem;
}

.tags {
    background: rgba(0, 0, 0, 0.37);
    border: #f0f0f0;
    border-radius: 1rem;

    font-size: calc(0.7rem + 0.03vw);

    padding: 0.2rem 0.5rem;
}
