---
layout: layouts/base.njk
id: blog
title: blog
pagination:
    data: collections.blog
    size: 100
    reverse: true
    alias: posts
---
<style>
    .wrapper:not(.has-sidebar) {
        grid-template-columns: 1fr;
        grid-template-areas: "header" "content" "footer";
    }

    @media (min-width: 300px) {
        .postContainer {
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(1, 1fr);
        }

        .tags {
            display: none;
        }
    }

    @media (min-width: 800px) {
        .postContainer {
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
        }

        .tags {
            display: inline;
        }
    }

    @media (min-width: 1450px) {
        .postContainer {
            grid-template-rows: repeat(1, 1fr);
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .content h2 {
        margin-top: 0.5rem;
        margin-bottom: 0;

        border-bottom: 3px solid #f0f0f0;
        padding-bottom: 0.1rem;

        max-width: fit-content;
    }

    .content p {
        margin  : 0;
    }
</style>

<div style="grid-area: content" class="content">
    <div class="background-card" style="color: #ffffff; margin-bottom: calc(0.75rem + 0.2vw);">
        <h2 style="margin-bottom: 0px">Blog</h2>
        <p>Here you can find all my blog posts. I write about my projects, my thoughts and my life.</p>
    </div>

    <div style="margin: 0px 1vw;" class="postContainer blog">
        {% for post in posts %}
            <div class="post">
                <h1 style="margin-bottom: 0px">
                    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                </h1>
                <time style="margin-bottom: 0px" datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
                <a>
                    {% for tag in post.data.tags %}
                        {% if tag != "blog" %}
                            <span class="tags">{{ tag }}</span>
                        {% endif %}
                    {% endfor %}
                </a>
            </div>
        {% endfor %}
    </div>
</div>
