---
layout: layouts/base.njk
id: blog
title: blog
pagination:
    data: collections.blog
    size: 100
    reverse: true
    alias: posts
---
<style>
    @media (min-width: 1000px) {
        .wrapper:not(.has-sidebar) {
            grid-template-columns: 1fr;
            grid-template-areas: "header" "content" "footer";
        }
    }
</style>

<div style="grid-area: content" class="content">
    <div class="background-card" style="color: #ffffff; margin-bottom: calc(0.75rem + 0.2vw);">
        <div style="margin-bottom: 0px">Blog</div>
        <p>Here you can find all my blog posts. I write about my projects, my thoughts and my life.</p>
    </div>

    <div class="postContainer blog">
        {% for post in posts %}
            <div class="post">
                <h1 style="margin-bottom: 0px">
                    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                </h1>
                <time style="margin-bottom: 0px" datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
                <a>
                    {% for tag in post.data.tags %}
                        {% if tag != "blog" %}
                            <span class="tags">{{ tag }}</span>
                        {% endif %}
                    {% endfor %}
                </a>
            </div>
        {% endfor %}
    </div>
</div>
