<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/comic-mono@0.0.1/index.css">
  		<link rel="stylesheet" type="text/css" href="/css/normalize.css" async />
  		<link rel="stylesheet" type="text/css" href="/css/style.css" async />
  		<meta name="viewport" content="width=device-width, initial-scale=1" />
  		<meta charset="utf-8" />


  		<!-- HTML Meta Tags -->
  		<title>chrono-byte</title>
  		<meta name="description" content="hi, i'm chrono. visit my site.">

  		<!-- Facebook Meta Tags -->
  		<meta property="og:url" content="https://disilla.org">
  		<meta property="og:type" content="website">
  		<meta property="og:title" content="chrono-byte">
  		<meta property="og:description" content="hi, i'm chrono. visit my site.">
  		<meta property="og:image" content="/img/social.png">

  		<!-- Twitter Meta Tags -->
  		<meta name="twitter:card" content="summary_large_image">
  		<meta property="twitter:domain" content="disilla.org">
  		<meta property="twitter:url" content="https://disilla.org">
  		<meta name="twitter:title" content="chrono-byte">
  		<meta name="twitter:description" content="hi, i'm chrono. visit my site.">
  		<meta name="twitter:image" content="/img/social.png">
	</head>

	<body>
		<header>
			<h2>
				<a href="/">chrono-byte</a>
			</h2>

			<p>
				<script language="JavaScript">
					var name = "chrono";
					var addr_tld = "org"
					var addr_org = "disilla";
					var address = name + "@" + addr_org + "." + addr_tld;
					document.write("<a href=" + "'mailto:" + address + "'>" + "email" + "</a>");;
				</script>
				&nbsp;/&nbsp; <a href="https://twitter.com/chronomly"> twitter </a> 
				&nbsp;/&nbsp; <a href="/blog/"> blog </a>
			</p>
			<p>
				<a href="https://sr.ht/~chrono/"> sr.ht </a>
				&nbsp;/&nbsp; <a href="https://github.com/Chrono-byte"> github </a> 
			</p>
		</header>

		<content>
			{{ content | safe }}
		</content>

		<footer>
			Some base code taken from <a href="https://git.sr.ht/~txtsd/ihavea.quest">txtsd's site</a>.
			Comic Mono font is by <a href="https://dtinth.github.io/comic-mono-font/>">dtinth</a>.<br />
			The content of this site is all rights reserved.
			The <a href="https://git.sr.ht/~chrono/disilla.org">code used to host this site</a> is <a href="https://opensource.org/licenses/AGPL-3.0">AGPL-3.0-only</a>.
		</footer>
	</body>
</html>
