<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <title>{{title}} — I have a quest!</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/misc">Misc</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    The content for this site is <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA-4.0</a>. The <a href="https://git.sr.ht/~txtsd/ihavea.quest">code for this site</a> is <a href="https://opensource.org/licenses/AGPL-3.0">AGPL-3.0-only</a>.
  </footer>
</body>

</html>
