---
layout: layouts/base.njk
---

<div style="width: 100%" class="grid">
    <div class="background-card" style="color: #ffffff; max-width: 82.48vw" style="margin-bottom: 15px">
        <h1 style="margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">{{ title }}</h1>
        {# author disclaimer #}
        <a style="font-size: 11px; margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">
            {% for tag in tags %}
                {% if tag != "blog" %}
                    <span class="tags">{{ tag }}</span>
                {% endif %}
            {% endfor %}
        </a><br />
        {# pub date #}
        <time style="padding-left: 15px" datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
        {{ content | safe }}
    </div>
</div>
